<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="vps">
            <h2><span jhiTranslate="admindashboardApp.vps.detail.title">Vps</span> {{vps.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="admindashboardApp.vps.name">Name</span></dt>
                <dd>
                    <span>{{vps.name}}</span>
                </dd>
                <dt><span jhiTranslate="admindashboardApp.vps.cpu">Cpu</span></dt>
                <dd>
                    <span>{{vps.cpu}}</span>
                </dd>
                <dt><span jhiTranslate="admindashboardApp.vps.ram">Ram</span></dt>
                <dd>
                    <span>{{vps.ram}}</span>
                </dd>
                <dt><span jhiTranslate="admindashboardApp.vps.disk">Disk</span></dt>
                <dd>
                    <span>{{vps.disk}}</span>
                </dd>
                <dt><span jhiTranslate="admindashboardApp.vps.traffic">Traffic</span></dt>
                <dd>
                    <span>{{vps.traffic}}</span>
                </dd>
                <dt><span jhiTranslate="admindashboardApp.vps.template">Template</span></dt>
                <dd>
                    <span>{{vps.template}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/vps', vps.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
