<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-virtual-machine-heading" jhiTranslate="customerdashboardApp.virtualMachineVirtualMachine.home.createOrEditLabel">Create or edit a Virtual Machine</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="customerdashboardApp.virtualMachineVirtualMachine.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                           formControlName="name"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="customerdashboardApp.virtualMachineVirtualMachine.accountid" for="field_accountid">Accountid</label>
                    <input type="number" class="form-control" name="accountid" id="field_accountid"
                           formControlName="accountid"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="customerdashboardApp.virtualMachineVirtualMachine.accountName" for="field_accountName">Account Name</label>
                    <input type="text" class="form-control" name="accountName" id="field_accountName"
                           formControlName="accountName"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="customerdashboardApp.virtualMachineVirtualMachine.cpu" for="field_cpu">Cpu</label>
                    <input type="number" class="form-control" name="cpu" id="field_cpu"
                           formControlName="cpu"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="customerdashboardApp.virtualMachineVirtualMachine.ram" for="field_ram">Ram</label>
                    <input type="number" class="form-control" name="ram" id="field_ram"
                           formControlName="ram"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="customerdashboardApp.virtualMachineVirtualMachine.disk" for="field_disk">Disk</label>
                    <input type="number" class="form-control" name="disk" id="field_disk"
                           formControlName="disk"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="customerdashboardApp.virtualMachineVirtualMachine.traffic" for="field_traffic">Traffic</label>
                    <input type="number" class="form-control" name="traffic" id="field_traffic"
                           formControlName="traffic"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="customerdashboardApp.virtualMachineVirtualMachine.template" for="field_template">Template</label>
                    <input type="text" class="form-control" name="template" id="field_template"
                           formControlName="template"/>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
