<div>
    <h2 id="page-heading">
        <span jhiTranslate="customerdashboardApp.orderServiceOrderCsrp.home.title">Order Csrps</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-order-csrp" [routerLink]="['/order-csrp/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="customerdashboardApp.orderServiceOrderCsrp.home.createLabel">
            Create a new Order Csrp
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="orderCsrps?.length === 0">
        <span jhiTranslate="customerdashboardApp.orderServiceOrderCsrp.home.notFound">No orderCsrps found</span>
    </div>
    <div class="table-responsive" *ngIf="orderCsrps?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="name"><span jhiTranslate="customerdashboardApp.orderServiceOrderCsrp.name">Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="csrppack"><span jhiTranslate="customerdashboardApp.orderServiceOrderCsrp.csrppack">Csrppack</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let orderCsrp of orderCsrps ;trackBy: trackId">
                <td><a [routerLink]="['/order-csrp', orderCsrp.id, 'view' ]">{{orderCsrp.id}}</a></td>
                <td>{{orderCsrp.name}}</td>
                <td>{{orderCsrp.csrppack}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/order-csrp', orderCsrp.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/order-csrp', orderCsrp.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/order-csrp', { outlets: { popup: orderCsrp.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="orderCsrps?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
