<div>
    <h2 id="page-heading">
        <span jhiTranslate="admindashboardApp.invoice.home.title">Invoices</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-invoice" [routerLink]="['/invoice/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="admindashboardApp.invoice.home.createLabel">
            Create a new Invoice
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="invoices?.length === 0">
        <span jhiTranslate="admindashboardApp.invoice.home.notFound">No invoices found</span>
    </div>
    <div class="table-responsive" *ngIf="invoices?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
            <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
            <th scope="col" ><span jhiTranslate="admindashboardApp.invoice.code">Code</span></th>
            <th scope="col" ><span jhiTranslate="admindashboardApp.invoice.date">Date</span></th>
            <th scope="col" ><span jhiTranslate="admindashboardApp.invoice.details">Details</span></th>
            <th scope="col" ><span jhiTranslate="admindashboardApp.invoice.status">Status</span></th>
            <th scope="col" ><span jhiTranslate="admindashboardApp.invoice.paymentMethod">Payment Method</span></th>
            <th scope="col" ><span jhiTranslate="admindashboardApp.invoice.paymentDate">Payment Date</span></th>
            <th scope="col" ><span jhiTranslate="admindashboardApp.invoice.paymentAmount">Payment Amount</span></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let invoice of invoices ;trackBy: trackId">
                <td><a [routerLink]="['/invoice', invoice.id, 'view' ]">{{invoice.id}}</a></td>
                <td>{{invoice.code}}</td>
                <td>{{invoice.date | date:'medium'}}</td>
                <td>{{invoice.details}}</td>
                <td jhiTranslate="{{'admindashboardApp.InvoiceStatus.' + invoice.status}}">{{invoice.status}}</td>
                <td jhiTranslate="{{'admindashboardApp.PaymentMethod.' + invoice.paymentMethod}}">{{invoice.paymentMethod}}</td>
                <td>{{invoice.paymentDate | date:'medium'}}</td>
                <td>{{invoice.paymentAmount}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/invoice', invoice.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/invoice', invoice.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/invoice', { outlets: { popup: invoice.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
